<app-toast [message]="toast.message"></app-toast>

<mat-card>
  <mat-card-content>

    <mat-card-subtitle>Colaboradores</mat-card-subtitle>


    <mat-horizontal-stepper [linear]="isLinear">

      <mat-step [stepControl]="email">

        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <ng-template matStepLabel>>></ng-template>
          <mat-card-subtitle>Identificação</mat-card-subtitle>

          <div flex fxLayout="row" fxLayout.lt-sm="column">
            <div class="col-md-6 col-sm-12" fxFlex="30%">
              <mat-form-field>
                <span>
                  <mat-icon [class.primary]="email"></mat-icon>&nbsp;</span>
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error>*</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12" fxFlex="30%">
              <mat-form-field>
                <span>
                  <mat-icon [class.primary]="password"></mat-icon>&nbsp;</span>
                <input matInput type="password" placeholder="Senha" formControlName="password" required>
                <mat-error>*</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-sm-12" fxFlex="30%">
              <mat-form-field>
                <span>
                  <mat-icon [class.primary]="username"></mat-icon>&nbsp;</span>
                <input matInput placeholder="Nome" formControlName="username" required>
                <mat-error>*</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div flex fxLayout="row" fxLayout.lt-sm="column">
            <div class="col-md-6 col-sm-12" fxFlex="30%">
              <mat-form-field>
                <mat-select placeholder="Tipo Usuario" [formControl]="role">
                  <mat-option value="">Tipo</mat-option>
                  <mat-option value="user">Usuario</mat-option>
                  <mat-option value="admin">Colaborador</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12" fxFlex="30%">
              <mat-form-field>
                <mat-select placeholder="Sexo" [formControl]="sexo">
                  <mat-option value="">Tipo</mat-option>
                  <mat-option value="masculino">MAsculino</mat-option>
                  <mat-option value="feminino">Feminino</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12" fxFlex="30%">
              <mat-form-field>
                <span>
                  <mat-icon [class.primary]="datanascimento"></mat-icon>&nbsp;</span>
                <input matInput placeholder="Data Nascimento" formControlName="datanascimento" required>
                <mat-error>*</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div flex fxLayout="row" fxLayout.lt-sm="column">
            <div class="col-md-6 col-sm-12" fxFlex="30%">
              <mat-form-field>
                <span>
                  <mat-icon [class.primary]="celular"></mat-icon>&nbsp;</span>
                <input matInput placeholder="Nro.Celular" formControlName="celular" required>
                <mat-error>*</mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6 col-sm-12" fxFlex="30%">
              <mat-form-field>
                <span>
                  <mat-icon [class.primary]="duvidas"></mat-icon>&nbsp;</span>
                <input matInput placeholder="Dúvidas/Por que?" formControlName="duvidas" required>
                <mat-error>*</mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6 col-sm-12" fxFlex="30%">

            </div>
          </div>

          <div color="primary">
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>

      </mat-step>

      <mat-step [stepControl]="cep">
        <ng-template matStepLabel>>></ng-template>
        <mat-card-subtitle>Endereço</mat-card-subtitle>
      <app-cep></app-cep>
      </mat-step>

      <mat-step [stepControl]="password">
        <form [formGroup]="registerForm" (ngSubmit)="register()">

          <ng-template matStepLabel>>></ng-template>
          <mat-card-subtitle>Perfil</mat-card-subtitle>
          <div flex fxLayout="row" fxLayout.lt-sm="column">
            <div class="col-md-6 col-sm-12" fxFlex="30%">
     
            </div>
            </div>


          <div flex fxLayout="row" fxLayout.lt-sm="column">
            <div class="col-md-6 col-sm-12" fxFlex="30%">
              <mat-form-field>
                <span>
                  <mat-icon [class.primary]="pessoas"></mat-icon>&nbsp;</span>
                <input matInput placeholder="As pessoas que moram..." formControlName="perfil" required>
                <mat-error>*</mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6 col-sm-12" fxFlex="30%">
              <mat-form-field>
                <span>
                  <mat-icon [class.primary]="animais"></mat-icon>&nbsp;</span>
                <input matInput placeholder="Animais de estimação..." formControlName="perfil" required>
                <mat-error>*</mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6 col-sm-12" fxFlex="30%">
              <mat-form-field>
                <span>
                  <mat-icon [class.primary]="veiculos"></mat-icon>&nbsp;</span>
                <input matInput placeholder="Carros e Motos..." formControlName="veiculos" required>
                <mat-error>*</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div flex fxLayout="row" fxLayout.lt-sm="column">
            <div class="col-md-6 col-sm-12" fxFlex="30%">
              <mat-form-field>
                <span>
                  <mat-icon [class.primary]="construcao"></mat-icon>&nbsp;</span>
                <input matInput placeholder="Construir ou Reformar..." formControlName="construcao" required>
                <mat-error>*</mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6 col-sm-12" fxFlex="30%">
              <mat-form-field>
                <span>
                  <mat-icon [class.primary]="ocupacao"></mat-icon>&nbsp;</span>
                <input matInput placeholder="Sua ocupacao..." formControlName="ocupacao" required>
                <mat-error>*</mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6 col-sm-12" fxFlex="30%">
              <mat-form-field>
                <span>
                  <mat-icon [class.primary]="duvidasii"></mat-icon>&nbsp;</span>
                <input matInput placeholder="Dúvidas/Por que?..." formControlName="duvidasii" required>
                <mat-error>*</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="agradecimento">
        <ng-template matStepLabel>...</ng-template>
        <mat-card-subtitle>Agradecimentos</mat-card-subtitle>
      Muito bom poder contar com você na implantação deste projeto que visa um bairro melhor. O que acha do projeto.

        <form [formGroup]="registerForm" (ngSubmit)="register()">

          <div flex fxLayout="row" fxLayout.lt-sm="column">
            <div class="col-md-6 col-sm-12" fxFlex="30%">
              <mat-form-field>
                <span>
                  <mat-icon [class.primary]="opiniao"></mat-icon>&nbsp;</span>
                <input matInput placeholder="O que acha do projeto?..." formControlName="opiniao" required>
                <mat-error>*</mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6 col-sm-12" fxFlex="30%">
              <mat-form-field>
                <span>
                  <mat-icon [class.primary]="comentario"></mat-icon>&nbsp;</span>
                <input matInput placeholder="Deseja fazer comentário?..." formControlName="comentario" required>
                <mat-error>*</mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6 col-sm-12" fxFlex="30%"></div>
          </div>


        </form>


        <div>
          <button mat-button type="submit" [disabled]="!registerForm.valid">
            <i class="fa fa-login"></i> Cadastrar</button>
          <button mat-button matStepperPrevious>Voltar</button>
        </div>

      </mat-step>

    </mat-horizontal-stepper>

  </mat-card-content>
</mat-card>